div.container-fluid {
    padding-top: 150px;
    width: 80%;

}

/* FORMULAIRE */

form {
    padding-bottom: 150px;
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

#tinyurl_mainbundle_link > div:nth-child(1) > label {
    font-size: xx-large;
}

#tinyurl_mainbundle_link_longUrl:focus {
    border-color: yellowgreen;
    background-color: lightyellow;
}

#tinyurl_mainbundle_link_valider {
    margin-top: 30px;
}



/* TABLEAU */

td, th {
    text-align: center;
    /* Il faut setter une max-width pour que les td soient de même taille, mais pk ? */
    max-width: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* AJAX */

.row.mt-5 {
    -ms-flex-direction: column;
}

.clickLastComment {
    margin-bottom: 16px;
}