div.container {
    padding-top: 100px;
}

/* FORMULAIRE */

form {
    padding-bottom: 100px;
    width: 50%;
    margin: auto;
}

#tinyurl_mainbundle_link > div:nth-child(1) > label {
    font-size: xx-large;
}

#tinyurl_mainbundle_link_longUrl:focus {
    border-color: palevioletred;
    background-color: lightyellow;
}

#tinyurl_mainbundle_link_valider {
    margin-top: 30px;
}



/* TABLEAU */

td, th {
    text-align: center;
    /* Il faut setter une max-width pour que les td soient de même taille, mais pk ? */
    max-width: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}