<table class="table table-hover lastLinks">
    <thead>
    <tr>
        <th class="col-3">URL</th>
        <th class="col-3">ShortCode</th>
        <th class="col-3">Lien crée le</th>
        <th class="col-3">Statistiques</th>
    </tr>
    </thead>
    <tbody>
    {% for element in lastAddedLinks %}
        <tr>
            <td>{{ element.longUrl }}</td>
            <td><a href="{{ path('tiny_url_main_redirect', {'shortcode': element.shortCode}) }}">{{ element.shortCode }}</a></td>
            <td>{{ element.createdAt|date('d-m-y') }}</td>
            <td><i class="fa fa-line-chart" style="color: darkred;"></i></td>
        </tr>
    {% endfor %}
    </tbody>
</table>